.App {
  text-align: center;
}

body {
  background-image: url(https://static.pexels.com/photos/50576/pepper-yellow-red-orange-50576.jpeg);
  display: contents;
  background-size: cover;
  background-repeat: no-repeat;
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 50px;
}

ol, ul {
  padding-left: 30px;
}

/*.board-row:after {
  clear: both;
  content: "";
  display: table;
}*/
.game-board {
  margin: 20px 170px;
}

.RadioBtnDiv {
  position: absolute;
  top: 20px;
  margin-left: 34px;
}

.boardDiv{
  margin: 70px auto;
}

button {
  color: #3b4034;
  background-color: #eef6f6;
}

button.square:hover {
  background-color: #ffff91;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #68a232;
  float: left;
  font-size: 10px;
  line-height: 34px;
  height: 50px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.redSquare {
  color: white;
  background-color: red;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 2px #000000;
  box-shadow: 0 0 5px 0.4px #000000;
  margin: 5px;
}

.yellowSquare {
  background-color: rgb(255, 238, 0);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 20px 2px #000000;
  box-shadow: 0 0 5px 0.4px #000000;
  margin: 5px;
}

.square:focus {
  outline: none;
}

.radio {
  color: #65b029;
  font-size: 16pt;
}

/*
dir.board-row {
    margin-top: -1em;
    margin-bottom: -1em;
}*/
dir.board-row {
  border: 3px solid #8BC34A;
  padding-bottom: 49px;
  padding-left: 0px;
  margin-bottom: -18px;
  background-color: white;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  position: absolute;
  display: inline-grid;
  top: 91px;
  color: #2a2d29;
  font-size: 15pt;
}
